<div class="page-main">
  <%= render 'shared/header' %>

  <div class="my-3 my-md-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'card' }) do |f| %>
            <div class="card-header">
              <h3 class="card-title">Edit profile</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <%= devise_error_messages! %>
                </div>
              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
              			<%= f.label :username, class: 'form-label' do %>
                      Username
                      <span class="form-required">*</span>
                    <% end %>
                    <%= f.text_field :username, autofocus: true,
                                                class: 'form-control',
                                                placeholder: 'Enter name',
                                                required: true %>
              		</div>

                  <div class="form-group">
                    <%= f.label :email, class: 'form-label' do %>
                      Email address
                      <span class="form-required">*</span>
                    <% end %>
                    <%= f.email_field :email, autocomplete: 'email',
                                              class: 'form-control',
                                              placeholder: 'Enter email',
                                              required: true %>
              		</div>

                  <div class="form-group">
              			<%= f.label :current_password, class: 'form-label' do %>
                      Password
                      <i>(we need your current password to confirm your changes)</i>
                    <% end %>
                    <%= f.password_field :current_password, autocomplete: 'off',
                                                            class: 'form-control',
                                                            placeholder: 'Password' %>
              		</div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
              			<%= f.label :first_name, class: 'form-label' %>
                    <%= f.text_field :first_name, class: 'form-control',
                                                   placeholder: 'Joe' %>
              		</div>

                  <div class="form-group">
              			<%= f.label :last_name, class: 'form-label' %>
                    <%= f.text_field :last_name, class: 'form-control',
                                                   placeholder: 'Joe' %>
              		</div>

                  <div class="form-group">
                    <%= f.label :currency, class: 'form-label' do %>
                      Currency
                      <span class="form-required">*</span>
                    <% end %>
                    <%= f.text_field :currency, class: 'form-control',
                                                placeholder: 'USD',
                                                required: true %>
              		</div>
                </div>
              </div>


              <div class="dropdown-divider"></div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
              			<%= f.label :password, class: 'form-label' do %>
                      Password
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %>
                    <% end %>
                    <%= f.password_field :password, autocomplete: 'off',
                                                    class: 'form-control',
                                                    placeholder: 'Password' %>
              		</div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
              			<%= f.label :password_confirmation, class: 'form-label' %>
                    <%= f.password_field :password, autocomplete: 'off',
                                                    class: 'form-control',
                                                    placeholder: 'Password' %>
              		</div>
                </div>
              </div>

              <div class="row justify-content-md-center">
                <div class="col-md-6">
                  <div class="form-footer">
                    <%= f.submit 'Update profile', class: 'btn btn-primary btn-block' %>
                  </div>
                </div>
              </div>
            </div>

          <% end %>

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Cancel my account</h3>
            </div>

            <div class="card-body">
              <p>Unhappy?</p>
              <div class="row">
                <div class="col-md-3">
                  <%= link_to "Cancel my account", registration_path(resource_name),
                        class: 'btn btn-danger btn-block', method: :delete,
                        data: { title: 'Delete Account', confirm: 'Are you sure?', commit: 'Delete',
                          verify: 'ByeBye', verify_text: 'Type "ByeBye" to confirm this action.' } %> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
