<div class="page-single">

  <div class="container">
		<div class="row">
			<div class="col col-login mx-auto">
				<div class="text-center mb-6">
          <h2>Billy</h2>
				</div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'card' }) do |f| %>
        <div class="card-body p-6">
          <div class="card-title">Create new account</div>

          <%= devise_error_messages! %>

          <div class="form-group">
      			<%= f.label :username, class: 'form-label' %>
            <%= f.text_field :username, autofocus: true,
                                        class: 'form-control',
                                        placeholder: 'Enter name',
                                        required: true %>
      		</div>

          <div class="form-group">
      			<%= f.label :email, 'Email address', class: 'form-label' %>
            <%= f.email_field :email, autocomplete: 'email',
                                      class: 'form-control',
                                      placeholder: 'Enter email',
                                      required: true %>
      		</div>

          <div class="form-group">
      			<%= f.label :password, class: 'form-label' do %>
              Password
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            <% end %>
            <%= f.password_field :password, autocomplete: 'off',
                                            class: 'form-control',
                                            placeholder: 'Password',
                                            required: true %>
      		</div>

          <div class="form-group">
      			<%= f.label :password_confirmation, class: 'form-label' %>
            <%= f.password_field :password, autocomplete: 'off',
                                            class: 'form-control',
                                            placeholder: 'Password',
                                            required: true %>
      		</div>

          <div class="form-group">
      			<%= f.label :currency, class: 'form-label' %>
            <%= f.text_field :currency, class: 'form-control',
                                        placeholder: 'USD',
                                        required: true %>
      		</div>

          <div class="form-group">
      			<label class="custom-control custom-checkbox">
      				<input type="checkbox" class="custom-control-input" required/>
      				<span class="custom-control-label">Agree the <a href="terms.html">terms and policy</a></span>
      			</label>
      		</div>

          <div class="form-footer">
            <%= f.submit 'Sign up', class: 'btn btn-primary btn-block' %>
          </div>

        </div>
        <% end %>

        <div class="text-center text-muted">
        	Already have account? <%= link_to 'Sign in', new_user_session_path %>
        </div>
      </div>
    </div>
  </div>
</div>
