<div class="page-single">

  <div class="container">
		<div class="row">
			<div class="col col-login mx-auto">
				<div class="text-center mb-6">
          <h2>Billy</h2>
				</div>

        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { class: 'card' }) do |f| %>
        <div class="card-body p-6">
          <div class="card-title">Resend unlock instructions</div>

          <%= devise_error_messages! %>

          <p class="text-muted">
            Enter your email address and your password will be reset and emailed to you.
          </p>

          <div class="form-group">
            <%= f.label :email, 'Email address', class: 'form-label' %>
            <%= f.email_field :email, autofocus: true,
                                      autocomplete: 'email',
                                      class: 'form-control',
                                      placeholder: 'Enter email',
                                      required: true %>
          </div>

          <div class="form-footer">
            <%= f.submit 'Resend unlock instructions', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
