<div class="header py-4">
	<div class="container">
		<div class="d-flex">
      <%= link_to 'Billy', dashboard_path, class: 'header-brand' %>

      <div class="d-flex order-lg-2 ml-auto">
        <div class="dropdown">
					<a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
						<span class="avatar" style="background-color: gray"></span>
						<span class="ml-2 d-none d-lg-block">
							<span class="text-default"><%= current_user ? current_user.username : 'Guest' %></span>
							<small class="text-muted d-block mt-1">User</small>
						</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">

            <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
              <i class="dropdown-icon fe fe-user"></i> Profile
            <% end %>

						<div class="dropdown-divider"></div>

						<a class="dropdown-item" href="#">
							<i class="dropdown-icon fe fe-help-circle"></i> Need help?
						</a>

            <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
              <i class="dropdown-icon fe fe-log-out"></i> Log out
            <% end %>
					</div>
				</div>
      </div>

      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
				<span class="header-toggler-icon"></span>
			</a>

    </div>
  </div>
</div>

<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-3 ml-auto">
				<form class="input-icon my-3 my-lg-0">
					<input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
					<div class="input-icon-addon">
						<i class="fe fe-search"></i>
					</div>
				</form>
			</div>
			<div class="col-lg order-lg-first">
				<%= render 'shared/menu' %>
			</div>
		</div>
	</div>
</div>
