<ul class="nav nav-tabs border-0 flex-column flex-lg-row">

  <li class="nav-item">
    <%= link_to dashboard_path, class: 'nav-link' do %>
      <i class="fe fe-home"></i> Home
    <% end %>
  </li>

  <li class="nav-item">
    <a href="javascript:void(0)" class="nav-link active" data-toggle="dropdown"><i class="fe fe-calendar"></i> Categories</a>
    <div class="dropdown-menu dropdown-menu-arrow">

      <%= link_to categories_path, class: 'dropdown-item' do %>
        <i class="dropdown-icon fe fe-list"></i> Show all
      <% end %>

      <%= link_to new_category_path, class: 'dropdown-item' do %>
        <i class="dropdown-icon fe fe-plus-circle"></i> Add new
      <% end %>

    </div>
  </li>

  <li class="nav-item">
    <a href="#" class="nav-link">
      <i class="fe fe-file"></i> Shops
    </a>
  </li>
</ul>
