<div class="page-single">

  <div class="container">
		<div class="row">
			<div class="col col-login mx-auto">
				<div class="text-center mb-8">
          <h2>Billy</h2>
          <h4>Lorem ipsum dolor sit amet farit pramo alcedi tranko.</h4>
				</div>

        <div class="acion-buttons">
          <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-secondary btn-block' %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
  </div>
</div>
