<div class="page-single">

  <div class="container">
		<div class="row">
			<div class="col col-login mx-auto">
				<div class="text-center mb-6">
          <h2>Billy</h2>
				</div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'card' }) do |f| %>
          <div class="card-body p-6">
            <div class="card-title">Login to your account</div>

            <div class="form-group">
        			<%= f.label :email, 'Email address', class: 'form-label' %>
              <%= f.email_field :email, autofocus: true,
                                        autocomplete: 'email',
                                        class: 'form-control',
                                        'aria-describedby' => 'emailHelp',
                                        placeholder: 'Enter email',
                                        required: true %>
        		</div>

            <div class="form-group">
              <%= f.label :password, class: 'form-label' do %>
                Password
                <%= link_to 'I forgot password', new_password_path(resource_name), class: 'float-right small' %>
              <% end %>
              <%= f.password_field :password, autocomplete: 'off',
                                              class: 'form-control',
                                              placeholder: 'Password',
                                              required: true %>
            </div>

            <% if devise_mapping.rememberable? -%>

            <div class="form-group">
              <%= f.label :remember_me, class: 'custom-control custom-checkbox' do %>
                <%= f.check_box :remember_me, class: 'custom-control-input' %>
                <span class="custom-control-label">Remember me</span>
              <% end %>
            </div>

            <% end -%>

            <div class="form-footer">
              <%= f.submit 'Log in', class: 'btn btn-primary btn-block' %>
        		</div>

          </div>
        <% end %>

        <div class="text-center text-muted">
        	Don't have account yet? <%= link_to 'Sign up', new_registration_path(resource_name) %>
        </div>

			</div>
		</div>
	</div>
</div>
