// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-sum {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 13px;
}

.category-percent {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  color: #0c0;
}

.category-text {
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 32px;
}
