  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-status bg-<%= category.color %>"></div>

      <div class="card-header">
        <h3 class="card-title"><%= category.name %></h3>

        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>

      <div class="card-body">
        <span class="category-sum">13.80 <%= user.currency %></span>
        <p class="category-text">It is</p>
        <span class="category-percent">34.5 %</span>
        <p class="category-text">as against to last month.</p>

        <!-- TO DELETE -->
        <div class="dev-helper">
          <%=  %>
        </div>
      </div>

      <div class="card-footer text-center">
        <%= link_to 'Details', category_path(category), class: 'btn btn-secondary' %>

        <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-secondary' %>

        <%= link_to 'Delete', category_path(category), class: 'btn btn-danger', method: :delete,
                    data: { title: 'Delete Category', confirm: 'Are you sure?', commit: 'Delete' } %>
      </div>
    </div>
  </div>
