  <%= simple_form_for @form do |f| %>
    <div class="form-group">
      <%= f.input :name, autofocus: 'on', placeholder: 'Food' %>
    </div>

    <div class="form-group">
      <%= f.label :color %>

      <div class="row gutters-xs">
        <% Category.colors.each_key do |color| %>
        <div class="col-auto">
          <label class="colorinput">
            <%= f.radio_button :color, color, class: 'colorinput-input' %>
            <span class="colorinput-color bg-<%= color %>"></span>
          </label>
        </div>
        <% end %>
      </div>
    </div>

    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
