<div class="my-3 my-md-5">
  <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="card">

            <div class="card-header">
              <h3 class="card-title">Edit category</h3>
            </div>

            <div class="card-body">
              <div class="row">

                <div class="col-md-6">
                  <%= render 'categories/form' %>
                </div>

                <div class="col-md-6">
                  <div class="dev-helper">
                    <%= @form.inspect %>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
