  <div class="my-3 my-md-5">
    <div class="container">
        <div class="row">
          <% if @categories.present? %>

          <% @categories.each do |category| %>
            <%= render 'categories/card', category: category, user: current_user %>
          <% end %>

          <% else %>

          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <p>Sorry, there are no categories yet. Let's create the first one!</p>
                <%= link_to new_category_path, class: 'btn btn-success' do %>
                  <i class="fe fe-plus-circle"></i> New category
                <% end %>
              </div>
            </div>
          </div>

          <% end %>
        </div>
      </div>
    </div>
