<!DOCTYPE html>
<html>
  <head>
    <title>Billy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page">
      <div class="page-main">
        <%= render 'shared/header' %>

        <%= yield %>

        <%= render 'shared/flashes' unless flash.empty? %>
      </div>

      <!-- <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->


    </div>
  </body>
</html>
